<html>
    <body>
      SneezyCRUD

      ..under constructions

    <form action="{{ url_for('updateMob') }}" method="post">
        <fieldset>
            <legend>Edit Mob:</legend>
            Vnum:
            <br><input type="text" name="vnum" value={{m.vnum}} readonly><br>
            Name:
            <br><textarea name="name" rows="1" cols="60">{{m.name}}</textarea><br>
            Short Description:
            <br><textarea name="short_desc" rows="15" cols="60">{{m.short_desc}}</textarea><br>
            Long Description:
            <br><textarea name="long_desc" rows="15" cols="60">{{m.long_desc}}</textarea><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>


    </body>
  </html>