<html>
    <head>
            <script type="text/javascript" src="{{ url_for('static', filename='sneezy_up.js') }}"></script>
            <style>
                .output {
                     background-color: black;
                     width: 80ch;
                }
            </style>
    </head>
    <body>
      SneezyCRUD

      ..under constructions

    <div id='output' class='output'>Connecting to SneezyMUD...</div>

    <form action="{{ url_for('updateRoom') }}" method="post" id="roominfo">
        <fieldset>
            <legend>Edit Room:</legend>
            Vnum:
            <br><input type="text" name="vnum" value={{r.vnum}} readonly><br>
            Name:
            <br><textarea name="name" rows="1" cols="80">{{r.name}}</textarea><br>
            Description:
            <br><textarea name="description" id="description" rows="15" cols="80">{{r.description}}</textarea><br>
            <button type="button" onclick="preview()">Preview</button>
            <input type="submit" value="Submit">
        </fieldset>
    </form>

    <script>
        function preview(){
            var mudstr =  document.getElementById("roominfo").elements[2].value;
            mudstr = sneezy_up(mudstr);
            mudstr += "<br> &nbsp;";
            mudstr += sneezy_up(document.getElementById("roominfo").elements[3].value);
            document.getElementById("output").innerHTML = mudstr;
        }
        preview();
        
    </script>

    </body>
  </html>