.login {
    display: grid;
    justify-self: end;
    font-size: 14px;
    color: rgb(187, 185, 185);
    padding: 8px;
}

.login-button{
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}